$light-primary-text: white;
$light-secondary-text: #a9b2c3;
$light-disabled-text: rgba(#a9b2c3, 0.64);
$light-dividers: rgba(#a9b2c3, 0.12);
$light-focused: rgba(#a9b2c3, 0.12);

$dark-primary-text: #243B53;
$dark-secondary-text: #364b61;
$dark-disabled-text: rgba(#364b61, 0.64);
$dark-dividers: rgba(#364b61, 0.12);
$dark-focused: rgba(#364b61, 0.12);

$dark-green: mat-palette($mat-light-green, 700);
$light-green: mat-palette($mat-teal);

$ep-primary-light: (50 : #ffebef,
100 : #ffced3,
200 : #ff9a9a,
300 : #fc7171,
400 : #ff4c4a,
500 : #ff392c,
600 : #fe2f2e,
700 : #ec2128,
800 : #de1821,
900 : #cf0313,
A100 : #ffd1d7,
A200 : #f8a0a2,
A400 : #ff5b5b,
A700 : #e5383a,
contrast: (50 : #000,
  100 : #000,
  200 : #000,
  300 : #000,
  400 : #ffffff,
  500 : #ffffff,
  600 : #ffffff,
  700 : #ffffff,
  800 : #ffffff,
  900 : #ffffff,
  A100 : #000,
  A200 : #000,
  A400 : #ffffff,
  A700 : #ffffff,
));

$ep-accent-light: (
  50 : #dff8fc,
  100 : #afeff8,
  200 : #77e4f4,
  300 : #2bd8ef,
  400 : #00cfeb,
  500 : #00c6e6,
  600 : #00b6d2,
  700 : #00a1b7,
  800 : #008c9e,
  900 : #006971,
  A100 : #eec8b7,
  A200 : #d2a695,
  A400 : #a06c55,
  A700 : #6e3d2b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$ep-accent-green-light: (
  50 : #e0f3ed,
  100 : #b3e1d1,
  200 : #81ceb5,
  300 : #4fba98,
  400 : #27ab83,
  500 : #009c71,
  600 : #008e65,
  700 : #007e56,
  800 : #006e49,
  900 : #00522f,
  A100 : #eec8b7,
  A200 : #d2a695,
  A400 : #a06c55,
  A700 : #6e3d2b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$ep-primary-dark: (50 : #ffebef,
100 : #ffced3,
200 : #ff9a9a,
300 : #fc7171,
400 : #ff4c4a,
500 : #ff392c,
600 : #fe2f2e,
700 : #ec2128,
800 : #de1821,
900 : #cf0313,
A100 : #ffd1d7,
A200 : #f8a0a2,
A400 : #ff5b5b,
A700 : #e5383a,
contrast: (50 : #000,
  100 : #000,
  200 : #000,
  300 : #000,
  400 : #000,
  500 : #000,
  600 : #ffffff,
  700 : #ffffff,
  800 : #ffffff,
  900 : #ffffff,
  A100 : #000,
  A200 : #000,
  A400 : #ffffff,
  A700 : #ffffff,
));

$ep-accent-dark: (
  50 : #def7fb,
  100 : #adebf4,
  200 : #75deed,
  300 : #2dd0e6,
  400 : #00c6df,
  500 : #00bcda,
  600 : #00acc6,
  700 : #0097ac,
  800 : #008393,
  900 : #006067,
  A100 : #b5edf4,
  A200 : #85e1ee,
  A400 : #39cbdf,
  A700 : #229cac,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$ep-accent-green-dark: (50 : #e8fcf3,
100 : #c6f7e2,
200 : #a1f2d0,
300 : #75edbd,
400 : #4be6ad,
500 : #00e09d,
600 : #00cf90,
700 : #00bb80,
800 : #00a873,
900 : #00875a,
A100 : #00a873,
A200 : #00a873,
A400 : #00a873,
A700 : #00875a,
contrast: (50 : #243B53,
  100 : #243B53,
  200 : #243B53,
  300 : #243B53,
  400 : #243B53,
  500 : #ffffff,
  600 : #ffffff,
  700 : #ffffff,
  800 : #ffffff,
  900 : #ffffff,
  A100 : #243B53,
  A200 : #243B53,
  A400 : #ffffff,
  A700 : #ffffff,
));

$ep-grey: (
  50: #eceff3,
  100: #d0d9e0,
  200: #b3bfca,
  300: #95a5b4,
  400: #7e92a3,
  500: #687f92,
  600: #5b7081,
  700: #4b5c6a,
  800: #3c4955,
  900: #2a343d,
  A100: #cfd8dc,
  A200: #b0bec5,
  A400: #78909c,
  A700: #455a64,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

// Background palette for light themes.
$ep-light-theme-background: (
  status-bar: #D9E2EC,
  app-bar: #f5f5f5,
  background: #f5f5f5,
  hover: rgba(#acabc2, 0.06),
  card: white,
  dialog: #F0F4F8,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map_get($ep-grey, 300),
  selected-disabled-button: map_get($ep-grey, 400),
  disabled-button-toggle: map_get($ep-grey, 200),
  unselected-chip: map_get($ep-grey, 100),
  disabled-list-option: map_get($ep-grey, 200),
  tooltip: map_get($ep-grey, 700),
);

// Background palette for dark themes.
$ep-dark-theme-background: (
  status-bar: #0B2844,
  app-bar: #0b2137,
  background: #0b2137,
  hover: rgba(white, 0.04),
  card: #243B53,
  dialog: #243B53,
  disabled-button: rgba(white, 0.12),
  raised-button: map-get($ep-grey, 800),
  focused-button: $light-focused,
  selected-button: map_get($ep-grey, 900),
  selected-disabled-button: map_get($ep-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($ep-grey, 700),
  disabled-list-option: black,
  tooltip: map_get($ep-grey, 700),
);

// Foreground palette for light themes.
$ep-light-theme-foreground: (
  base: #243B53,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba(#243B53, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: #243B53,
  hint-text: $dark-disabled-text,
  secondary-text: $dark-secondary-text,
  icon: rgba(#243B53, 0.54),
  icons: rgba(#243B53, 0.54),
  text: #243B53,
  slider-min: rgba(#243B53, 0.87),
  slider-off: rgba(#243B53, 0.26),
  slider-off-active: rgba(#243B53, 0.38),
);

// Foreground palette for dark themes.
$ep-dark-theme-foreground: (
  base: white,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba(white, 0.3),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: $light-secondary-text,
  icon: #D9E2EC,
  icons: #D9E2EC,
  text: white,
  slider-min: white,
  slider-off: rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);
