<mat-accordion [multi]="true" displayMode="flat">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>filter_alt</mat-icon>
        Filtres généraux
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>attach_money</mat-icon>
        Prix
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>build</mat-icon>
        État du véhicule
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>color_lens</mat-icon>
        Couleurs
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
</mat-accordion>
<footer>
  <p fxLayout fxLayoutAlign="flex-start center" fxLayoutGap="4px">
    <span class="bold">123</span>
    <span>Véhicules trouvés</span>
  </p>
  <div class="validations" fxLayout fxLayoutGap="16px">
    <button mat-flat-button fxFlex color="primary" class="bold">Rechercher</button>
    <button mat-stroked-button class="reset-button">
      <mat-icon color="primary">close</mat-icon>
    </button>
  </div>
</footer>
