<div class="container" fxLayout="column">
  <h1 class="mat-title">
    <span fxFlex *ngIf="!!car?.id; else newCartitle"
      >{{ car.brand }} {{ car.name }}</span
    >
    <ng-template #newCartitle>
      <span fxFlex>New car</span>
    </ng-template>
    <button mat-icon-button mat-dialog-close color="warn">
      <mat-icon>close</mat-icon>
    </button>
  </h1>
  <form (ngSubmit)="submit()" [formGroup]="form" fxFlex fxLayout="column">
    <div class="form-content" fxFlex fxLayout="column">
      <div fxLayout fxLayoutGap="16px">
        <mat-form-field fxFlex="48">
          <mat-label>Brand</mat-label>
          <mat-select formControlName="brand">
            <mat-option
              *ngFor="let brand of brands$ | async"
              [value]="brand.label"
            >
              {{ brand.label }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.hasError('required', 'brand')"
            >Veuillez renseigner une marque.</mat-error
          >
        </mat-form-field>
        <mat-form-field fxFlex="48">
          <mat-label>Model</mat-label>
          <mat-select formControlName="name">
            <mat-option *ngFor="let model of models$ | async" [value]="model">
              {{ model }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.hasError('required', 'brand')"
            >Veuillez renseigner un modèle.</mat-error
          >
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label>Immatriculation</mat-label>
        <input matInput autocomplete="off" formControlName="immat" />
        <mat-hint>Format : XX-XXX-XX</mat-hint>
        <mat-error *ngIf="form.hasError('required', 'brand')"
          >Veuillez renseigner une plaque d'immatriculation.</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choisissez une date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="buy_date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.hasError('required', 'brand')"
          >Veuillez renseigner une date d'achat.</mat-error
        >
      </mat-form-field>
      <div fxLayout fxLayoutGap="16px">
        <mat-form-field fxFlex="48">
          <mat-label>Color</mat-label>
          <mat-select formControlName="color">
            <mat-option *ngFor="let color of colors$ | async" [value]="color.label">{{
              color.label | titlecase
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.hasError('required', 'brand')"
            >Veuillez renseigner une couleur.</mat-error
          >
        </mat-form-field>
        <mat-form-field fxFlex="48">
          <mat-label>Etat</mat-label>
          <mat-select formControlName="state">
            <mat-option value="neuf">Neuf</mat-option>
            <mat-option value="usée">Usée</mat-option>
            <mat-option value="légères rayures">Légères rayures</mat-option>
          </mat-select>
          <mat-error *ngIf="form.hasError('required', 'brand')"
            >Veuillez renseigner l'état.</mat-error
          >
        </mat-form-field>
      </div>
      <div fxLayout fxLayoutGap="16px">
        <mat-form-field fxFlex="48">
          <mat-label>Price</mat-label>
          <input
            matInput
            type="number"
            autocomplete="off"
            formControlName="price"
          />
          <mat-icon matSuffix>euro</mat-icon>
          <mat-error *ngIf="form.hasError('required', 'brand')"
            >Veuillez renseigner un prix.</mat-error
          >
        </mat-form-field>
        <mat-form-field fxFlex="48">
          <mat-label>Nombre de Km</mat-label>
          <input
            matInput
            type="number"
            required
            autocomplete="off"
            formControlName="miles"
          />
          <mat-error *ngIf="form.hasError('required', 'brand')"
            >Veuillez renseigner un nombre de km.</mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <div class="action" fxLayout fxLayoutAlign="center center">
      <button class="bold" color="primary" mat-flat-button>
        {{ !!car?.id ? "Update" : "Create" }}
      </button>
    </div>
  </form>
</div>
