<mat-card class="car-wrapper">
  <header>
    <span class="mat-caption">Lundi 06 Juin</span>
    <h2 class="title-car">{{ car.brand }} {{ car.name }}</h2>
    <button
      mat-button
      class="light-button"
      color="primary"
      (click)="deleteCar(car.id)"
    >
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <drag-scroll
    [drag-scroll-y-disabled]="true"
    [snap-duration]="225"
    *ngIf="car.images?.length > 0; else noImage"
  >
    <ng-container *ngFor="let image of car.images">
      <div
        class="image"
        drag-scroll-item
        *ngIf="image"
        [style.backgroundImage]="image | sanitizeBackground"
      ></div>
    </ng-container>
  </drag-scroll>
  <ng-template #noImage>
    <div
      class="default-image"
      [style.backgroundImage]="'url(../../assets/img/default-image.png)'"
      alt="Default Image"
    ></div>
  </ng-template>
  <div class="meta" fxLayout fxLayoutAlign="center center">
    <div fxFlex>
      <span>État: {{ car.state }}</span>
    </div>
    <div fxFlex>
      <span>Couleur: {{ car.color }}</span>
    </div>
  </div>
  <div class="meta" fxLayout fxLayoutAlign="center center">
    <div fxFlex>
      <span>{{ car.miles }}Km</span>
    </div>
    <div fxFlex>
      <span
        >Date d'achat: {{ car.buy_date | date: "dd MMM YYYY" }}</span
      >
    </div>
  </div>
  <div class="actions" fxLayout fxLayoutAlign="center center">
    <h2 fxFlex fxFlex.gt-md="50">
      {{ car.price | currency: "EUR" }}
    </h2>
    <a
      mat-flat-button
      color="primary"
      fxFlex
      fxFlex.gt-md="50"
      class="bold"
      [routerLink]="[car.id]"
    >
      Détails
    </a>
  </div>
</mat-card>
