.mat-card {
  box-shadow: none;

  header {
    button {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 30px;
      min-width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  drag-scroll {
    width: 350px;
    height: 350px;
    border-radius: 8px;
    cursor: grab;
  }

  .default-image {
    width: 350px;
    height: 350px;
    border-radius: 8px;
    background-size: cover;
    background-position: center center;
  }

  .image {
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
  }

  .meta {
    padding: 8px;
  }

  .actions {
    margin-top: 16px;
  }
}
