mat-toolbar {
  padding-right: 0;
  padding-left: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-shadow: none;
  height: 80px;
}

.logo {
  padding: 0 16px;
}

.search-zone {
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  height: 100%;
  padding: 0 24px;

  label {
    display: flex;
  }

  input {
    background: transparent;
    border: 0;
    outline: none;
  }

  .resetControl {
    cursor: pointer;
  }
}

.add-car-container {
  border-right-style: solid;
  border-right-width: 1px;
  height: 100%;
  padding: 0 24px;
}
