<div class="container-content" fxFlex fxLayout="column">
  <eap-cars-toolbar></eap-cars-toolbar>
  <mat-drawer-container class="container">
    <mat-drawer #drawer class="sidenav" mode="side" opened>
      <eap-cars-filters [totalCarsFound]="totalCarsFound"></eap-cars-filters>
    </mat-drawer>

    <div class="sidenav-content" fxFlex fxLayout="column">
      <mat-toolbar
        fxLayout
        fxLayoutAlign="flex-start center"
        fxLayoutGap="16px"
      >
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-chip-list
          fxLayout
          fxLayoutAlign="flex-start center"
          fxLayoutGap="16px"
        >
          <mat-chip
            >Vous avez créer {{ createdCars$ | async }} véhicule(s)</mat-chip
          >
          <mat-chip *ngIf="oldestCar"
            >Plus ancien véhicule : {{ oldestCar.brand }} {{ oldestCar.name }} -
            {{ oldestCar.buy_date | date: "dd MMM, YYYY" }}</mat-chip
          >
          <mat-chip
            *ngIf="weather$ | async as weather"
            fxLayout
            fxLayoutAlign="center center"
            fxLayoutGap="8px"
          >
            <mat-icon svgIcon="sun"></mat-icon>
            <span>
              {{ weather.name }} - {{ weather.main.temp }}°C -
              {{ weather.weather[0].description }}
            </span>
          </mat-chip>
        </mat-chip-list>
      </mat-toolbar>
      <div class="content" fxFlex fxLayout="row wrap" fxLayoutGap="24px grid">
        <eap-car class="car-container" *ngFor="let car of cars$ | async" [car]="car"></eap-car>
      </div>
    </div>
  </mat-drawer-container>
  <router-outlet></router-outlet>
</div>
