:host {
  height: 100%;
}

.container {
  height: calc( 100% - 80px );
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  mat-toolbar {
    margin-bottom: 16px;
    min-height: 50px;

    mat-chip-list {
      mat-chip {
        mat-icon {
          width: 15px;
        }
      }
    }
  }
}

.sidenav {
  width: 281px;
}

.content {
  overflow: auto;
  width: 100%;
  padding: 12px;
}
